* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 40vh;
  max-width: 100vw;
}

nav {
  display: flex;
  background-color: #1b1d21;
  justify-content: space-around;
  padding: 10px 0;
}

nav div {
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 5vw;
}


/*------------------KEYWORDS------------------*/

#keywords {
  background-color: #ffffff; /*#fef3c7*/
  display: grid;
  align-items: center;
  grid-gap: 2vw;
  grid-template-columns: 1fr 3px 1fr;
}

.separador {
  height: 90%;
  background-color: black;
}

#keywords h2 {
  font-size: 6vw;
  font-weight: normal;
  letter-spacing: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#keywords .cuadrado {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#keywords .cuadrado span{
  text-decoration: underline;
}

#c1 {
  background-color: #f99494;
}

#c2 {
  background-color: #2980b9;
}


/*------------------INFO EXTRA------------------*/

.extraInfo {
  margin: 90px 0;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: black;
}

.extraInfo h3 {
  margin: 20px 0;
  font-family: 'Rampart One';
  font-size: 8vw;
  line-height: 10vw;
  letter-spacing: 1vw;
}

/*------------------OFERTA------------------*/

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 90vw;
  background: #fff;
  box-shadow: 0 0 15px
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.textoOferta {
  margin: 60px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.textoOferta p {
  font-family: 'Galindo';
  color: black;
  font-size: 10vw;
}

.textoOferta .p2 {
  position:relative;
  text-decoration:none;
}
.textoOferta .p2::before {
  content: "";
  position: absolute;
  top: 45%; left: 0; width: 100%; height: 5px; 
  background:red;
  transform:rotate(-7deg);
}

.textoOferta .valido {
  font-size: 3vw;
}

.asteriscoPrecios {
  margin: 5vw 5vw;
}

.asteriscoPrecios p {
  font-family: 'Galindo';
  font-size: 3vw;
}

 .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 20px 0;
 }

 .box2 p{
  font-family: 'Galindo';
  color: black;
  font-size: 5vw;
 }


 /*------------------CONTACTA------------------*/

  .prueba {
    margin: 15vw 0;
  }

  .pruebaTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prueba1{
    -webkit-text-stroke: 2px black;
    font-size: 10vw;
    font-weight: bold;
    color: white;
  }
  
  .raya {
    height: 2px;
    width: 90vw;
    background-color: black;
  }

  .prueba2 {
    font-size: 3.7vw;
    font-weight: bold;
  }

  .contacto {
    margin: 5vw 5vw;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contacto img {
    width: 7vw;
  }

  .contacto a {
    color: black;
    text-decoration: none;
  }

  .contacto p {
    font-size: 4vw;
  }
