* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vw;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-height: 40vh;
  max-width: 100vw;
}

nav {
  display: flex;
  background-color: #1b1d21;
  justify-content: space-around;
  padding: 2.7vw 0;
}

nav div {
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 5vw;
}


/*------------------KEYWORDS------------------*/

#keywords {
  background-color: #fef3c7; /*#fef3c7*/
}

#keywords h2 {
  font-size: 6vw;
  font-weight: normal;
  letter-spacing: 1.3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#keywords .cuadrado {
  padding: 7vw 0;
  height: 100%;
  text-align: center;
  width: 95vw;
  margin: 0 auto;
}

#keywords .cuadrado span{
  text-decoration: underline;
}


/*------------------INFO EXTRA------------------*/

.extraInfo {
  margin: 15vw 0 17vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.extraInfo h3 {
  width: 90vw;
  margin: 0 5vw;

  font-family: 'Rampart One';
  font-size: 8vw;
  letter-spacing: 1vw;

  text-align: center;
  border: 2.5vw solid transparent;
  margin: 5.1vw 0;

  background-image:
  linear-gradient(white, white),
  linear-gradient(180deg, #6978d7, #ff8838 50%, #6978d7);
  /*(180deg, cornflowerblue, #ff8838 50%, cornflowerblue)*/
  /*#606dbc #465298*/

  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: KF 1s infinite alternate;
}

@keyframes KF {
  100% {
    background-position: 0 0, 0 0;
  }
}


/*------------------OFERTA------------------*/

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 90vw;
  background: #fff;
  box-shadow: 0 0 3.846vw
}

/* common */
.ribbon {
  width: 38.462vw;
  height: 38.462vw;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 1.282vw solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 57.692vw;
  padding: 3.846vw 0;
  background-color: #3498db;
  box-shadow: 0 1.282vw 2.564vw rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 4.5vw "Lato", sans-serif;
  text-shadow: 0 0.256vw 0.256vw rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -2.564vw;
  left: -2.564vw;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -6.410vw;
  top: 7.692vw;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -2.564vw;
  right: -2.564vw;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -6.410vw;
  top: 7.692vw;
  transform: rotate(45deg);
}

.textoOferta {
  margin: 15.385vw 0 7.692vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.textoOferta p {
  font-family: 'Galindo';
  color: black;
  font-size: 10vw;
}

.textoOferta .p2 {
  font-size: 7vw;
}

.textoOferta .p2-2 {
  font-size: 7vw;
  text-decoration: underline 5px #3498db;
}

.asteriscoPrecios {
  margin: 5vw 5vw;
}

.asteriscoPrecios p {
  font-family: 'Galindo';
  font-size: 3vw;
}

 .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5.128vw 0 5.128vw 0;
 }

 .box2 p{
  font-family: 'Galindo';
  color: black;
  font-size: 5vw;
 }


 /*------------------PARTYGIF------------------*/

 .partydiv {
  display: flex;
  justify-content: center;
 }

 .partygif {
  width: 90vw;

 }


 /*------------------CONTACTA------------------*/

  #reservaBlock {
    margin: 20vw 5vw 0vw 5vw;
    background-color: #ffd52b;
    border: 2.5vw solid #1b1d21;
  }


  .reservaTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reservaT1 {
    -webkit-text-stroke: 0.5vw rgb(0, 0, 0);
    font-size: 10vw;
    font-weight: bold;
    color: red;
  }
  
  .reservaRaya {
    height: 0.5vw;
    width: 83vw;
    background-color: black;
    margin: 0.8vw 0;
  }

  .reservaT2 {
    font-size: 3.5vw;
    font-weight: bold;
  }

  #reservaBoton {
    margin: 5vw 15vw;
    padding: 2vw;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #34B7F1; /*#64acdc*/
    text-decoration: none;
    color: black;
  }

  #reservaBoton img {
    width: 7vw;
  }

  #reservaBoton p {
    font-size: 4vw;
  }

  #empresas {
    --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/8.00vw 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background-color: #ffd52bbc;
    margin: 0 auto;
    margin-bottom: 20vw;
    width: 90vw;
  }

  #empresas div {
    padding: 2vw 0 4vw 0;
    font-size: 4vw;
    text-align: center;
  }

  .empresasEsp {
    margin: 5vw 0;
  }


  /*------------------PREGUNTAS FRECUENTES------------------*/

  #faq {
    margin: 20vw auto 0 auto;
    text-align: center;
    font-size: 3.8vw;
    background-color: #4ec9bf;
    width: 90vw;
    border: dashed 0.78vw #2b2b2b;
    border-bottom: solid 0.78vw #000000;
    padding: 2vw 0;
  }

  #chat {
    margin: 0 auto 20vw auto;
    border: 0.25vw solid #ccc;

    border: dashed 0.78vw #2b2b2b;
    border-top: none;

    background-color: white;
    border-radius: 0 0 3vw 3vw;
    width: 90vw;
    /*box-shadow: 0 0 10px 1px #0bafa1;*/
  }

  .mensaje {
    display: inline-block;
    font-size: 4vw;
    border-radius: 5vw;
  }

  .m-left {
    background-color: #008484;
    margin: 5vw 15vw 5vw 5vw;
    border-bottom-left-radius: 0;
    color: white;
  }

  .m-right {
    background-color: #1a8400; /*#00ac0c*/
    margin: 5vw 5vw 5vw 15vw;
    border-bottom-right-radius: 0;
    color: white;
  }

  .mensaje p {
    padding: 3vw 5vw;
  }


  /*------------------VOLVER A RESERVA------------------*/

  #volver {
    background: repeating-linear-gradient(
        90deg, 
        #cfa500, 
        #cfa500 2.5vw, 
        #bb980a 2.5vw, 
        #bb980a 5.13vw);
    display: flex;
    align-items: center;
    border: 0.25vw solid #ccc;
    margin: 0 5vw 20vw 5vw;
    padding: 3vw 0;
    gap: 5vw;
    justify-content: center;
  }

  #volver img {
    width: 10.25vw;
  }

  #volver a {
    color: black;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;
  }



    /*------------------FOOT------------------*/

    #foot {
      background-color: #1b1d21;
      width: 100%;
      font-size: 4vw;
    }

    #foot h2 {
      color: white;
      font-size: 5vw;
      font-weight: bold;
      text-align: center;
      padding: 2vw 0;
    }

    .footItem {
      padding: 3vw 5vw;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .footItem a {
      text-decoration: none;
      color: white;
    }

    .footItem img {
      width: 10vw;
    }

